# Build files
/.build

# User settings
xcuserdata/
DerivedData/

# Swift Package Manager
/Packages
Package.pins
Package.resolved
*.xcodeproj
.swiftpm

# Miscellaneous
.netrc
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# IDE files
.idea/
.vscode/
*.swp

# General
.DS_Store